* {
    box-sizing: border-box;
    background-color:rgb(253, 241, 214);
    font-family: Cabin, Arial;
    color: rgb(82, 81, 81);
}

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(8, 200px);
    background-color: white;
    opacity: 1;
}

.grid-items1 {
    background-size:cover;
    width: 200px;
    height: 300px;
    opacity: 0.7;
    border: 5px solid rgb(253, 241, 214);
    border-right: 0px;
}

.grid-items1:hover {
    border: 3px solid white;
    border-radius: 3px;
    opacity: 1;
    transform:scale(1.05);
    z-index: 2;
}

.item1 {
    background-image: url("/Project2-Survey-form/Static/Pics/Giraffe.jpg");
}

.item2 {
    background-image: url("/Project2-Survey-form/Static/Pics/Bear.jpg");
}

.item3 {
    background-image: url("/Project2-Survey-form/Project2-Survey-form/Static/Pics/Octopus3.jpg");
}  

.item4 {
    background-image: url("/Project2-Survey-form/Static/Pics/Frog1.jpg");
}

.item6 {
    background-image: url("/Project2-Survey-form/Static/Pics/Sheep.jpg");
}

.item5 {
    background-image: url("/Project2-Survey-form/Static/Pics/Owl1.jpg");
}

.item8 {
    background-image: url("/Project2-Survey-form/Static/Pics/frog2.jpg");
}

.item7 {
    background-image: url("/Project2-Survey-form/Static/Pics/Owl2.jpg");
}

#title {
    font-family: Courgette, Georgia;
    font-size: 36pt;
    text-align: center;
    color: rgb(191, 50, 106);
    margin-bottom: 0px;
    margin-left: 20px;
}

#crochetYarnIcon {
    height: auto;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#description {
    font-family: Courgette, Georgia;
    font-size: 16pt;
    text-align: center;
    color: rgb(191, 50, 106);
    margin-left: 20px;
    margin: 15px;
    
}
/* Entire form is a flexbox */
#flex-container {
    display:flex;
	justify-content: center;
}

#survey-form {
    position : relative;
    width  : 740px;
    height : auto;
    padding: 20px;
}      
 
#fieldset-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    border-style: solid;
    border-color: rgb(191, 50, 106);
    border-radius: 5px;
    border-width: 2px;
    padding-bottom: 18pt;
    padding-top: 0pt;
}

input[type=radio], input[type=checkbox] {
    margin-bottom: 10px;
}

#fieldset-grid > legend {
    color: rgb(191, 50, 106);
    font-size: 12pt;
}

input[type=text], input[type=email] {
    width: 20em;
    padding: 12px 12px;
    margin: 8px 0;
    display: block;
    border: solid 2px rgb(191, 50, 106);
    border-radius: 5px;
}

input[type=number] {
    width: 14em;
    padding: 12px 12px;
    margin: 8px 0;
    display: block;
    border: solid 2px rgb(191, 50, 106);
    border-radius: 5px;
}

#dropdown {
    width: 17em;
    padding: 12px 12px;
    margin: 8px 0;
    display: block;
    border: solid 2px rgb(191, 50, 106);
    border-radius: 5px;
}

input:focus { 
    outline: none !important;
    border: solid 2px rgb(191, 50, 106);
    background-color: white;
}

#dropdown:focus, #comments:focus { 
    outline: none !important;
    border: solid 2px rgb(191, 50, 106);
    background-color: white;
}

select[name=dropdown], textarea[name=comments] {
    font-size: 12pt;
}

#comments, #fieldset-checkbox {
    width: 17em;
    padding: 12px 12px;
    margin: 8px 0;
    display: block;
    border: solid 2px rgb(191, 50, 106);
    border-radius: 5px;
}

::placeholder {
    font-size: 12pt;
}

#submit {
    width: 12em;
    padding: 12px 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 5px;
    display: block;
    border: solid 2px rgb(191, 50, 106);
    background-color: rgb(191, 50, 106);
    color: white;
    font-size: 12pt;
    border-radius: 5px;
}

#submit:hover {
    transform:scale(1.05);
    color: rgb(191, 50, 106);
    background-color: white;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    background-color: white;
    opacity: 1;
    justify-items: center;
}

.grid-items2 {
    background-size:cover;
    width: 300px;
    height: 200px;
    opacity: 0.7;
    border: 5px solid rgb(253, 241, 214);
    border-right: 0px;
}

.grid-items2:hover {
    border: 3px solid white;
    border-radius: 3px;
    opacity: 1;
    transform:scale(1.05);
    z-index: 2;
}

.item10 {
    background-image: url("/Project2-Survey-form/Static/Pics/BlueOctopus.jpg");
}

.item11 {
    background-image: url("/Project2-Survey-form/Static/Pics/Octopi.jpg");
}

.item12 {
    background-image: url("/Project2-Survey-form/Static/Pics/RedOctopus.jpg");
}  

.item13 {
    background-image: url("/Project2-Survey-form/Static/Pics/BlueOctopus.jpg");
}

.item14 {
    background-image: url("/Project2-Survey-form/Static/Pics/Octopi.jpg");
}

@media (max-width: 640px) {
    #fieldset-grid {
        display: block;
    }
}